.sidebar{
    flex: 1;
    border-right: .5px solid rgb(204, 204, 204);
    min-height: 100vh;
    background-color: white;
    .top{
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo{
        font-size: 20px;
        font-weight: bold;
        color: rgb(91, 91, 247);
    }

    hr{
        height: 0px;
        border: .5px solid rgb(204, 204, 204);
    }

    .center{
        padding-left: 10px;
        ul{
            list-style-type: none;
            padding: 0px;
        }
    }

    .title{
        font-size: 10PX;
        font-weight: bold;
        color: #999;
        margin-top: 15px;;
        margin-bottom: 5px;
    }

    li{
        display: flex;
        align-items: center;
        padding: 5px;
        cursor: pointer;

        .icon{
            font-size: 18px;
            color: #7451f8;
        }

        span{
            font-size: 13px;
            font-weight: 600;
            color: #888;
            margin-left: 10px;
        }
        
        &:hover{
            background-color: #ece8ff;
        }

    }
}
.bottom{
    display: flex;
    align-items: center;
    margin: 10px;

    .colorOption{
        width: 20px;
        height: 20px;
        border-radius: 5px;
        border: 1px solid #7451f8;;
        cursor: pointer;
        margin: 5px;
        &:nth-child(1){
            background-color: whitesmoke;
        }

        &:nth-child(2){
            background-color: #333;
        }

        &:nth-child(3){
            background-color: darkblue;
        }
    }
}